h2 {
    font-size: 25px;
}
h1 {
    font-size: 25px;
}
.studyDetailsDisplay .detailsRow:nth-child(even) {
    background-color: lightblue;
}
.studyDetailsDisplay {
    width: 500px;
}
.header {
    font-weight: bold;
}
.tableHeader {
    margin-bottom: 10px;
}
.title {
    margin-top: 10px;
}
.dropDownDiv {
    margin-left: 0px;
}